<div class="about" id="about">
  <div class="about-img"><img /></div>
  <div class="about-text">
    <h2>About <span>Me</span></h2>
    <h4>Front-End Developer</h4>
    <p>
      Proven track record of designing and implementing solutions that improved
      business processes, supported by a strong engineering foundation and a
      Data Science background. I demonstrate strong problem-solving and
      communication skills, and I actively seek challenges in projects that
      combine modern technologies with real business value.
    </p>
    <a href="/"><i class="btn-box"> More about me</i> </a>
  </div>
</div>
