@use "../../../styles/animations" as mixin;

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
  height: 100vh;
  margin-top: 130px;

  @media screen and (max-width: 767px) {
    display: flex;
    text-align: center;
  }
}

.about-img img {
  padding-bottom: 20%;
  max-width: 630px;
  height: auto;
  width: 100%;
  border-radius: 8px;
}

.about-text h2 {
  font-size: 60px;

  @media screen and (max-width: 767px) {
    font-size: 40px;
  }

  @media (max-width: 1299px) {
    margin-top: 5rem;
  }
}

.about-text h2 span {
  color: #0ef;

  @media screen and (max-width: 767px) {
    font-size: 40px;
  }
}

.about-text h4 {
  font-size: 29px;
  font-weight: 600;
  color: #ffff;
  line-height: 1.7;
  margin: 15px 0 30px;
}

.about-text p {
  color: aliceblue;
  font-size: 2rem;
  line-height: 1.4;
  margin-bottom: 4rem;

  @media screen and (max-width: 767px) {
    font-size: 1.5rem;
    text-align: left;
  }

  @media (max-width: 1299px) {
    font-size: 1.5rem;
  }
}

.btn-box {
  @include mixin.btn-box(2s);
  @include mixin.glowing-hover(cyan);
}
