<header class="header">
  <a href="/" class="logo">Portfolio</a>
  <nav class="navbar">
    <a href="/" class="logo">Home</a>
    <a href="/" class="logo">About me</a>
    <a href="/" class="logo">Skills</a>
    <a href="/" class="logo">Portfolio</a>
    <a href="/" class="logo">Contact</a>
  </nav>
</header>

<section class="home">
  <div class="home-content">
    <h3>Hello, It's Me</h3>
    <h1>Sylwia Mosur</h1>
    <h3>And I'm a <span class="text"> Front-End Developer</span></h3>
    <p>
      Front-End Developer with 4 years of experience in building ERP
      applications using Angular.
    </p>
    <p>
      Proven track record of designing and implementing solutions that improved
      business processes, supported by a strong engineering foundation and a
      Data Science background. I demonstrate strong problem-solving and
      communication skills, and I actively seek challenges in projects that
      combine modern technologies with real business value.
    </p>
    <div class="home-sci">
      <a href="https://www.facebook.com/sylwia.rusek.77/"
        ><i class="bx bxl-facebook"></i>
      </a>
      <a href="https://www.linkedin.com/in/sylwia-mosur-8801b61bb/"
        ><i class="bx bxl-linkedin"></i>
      </a>
      <a href="https://github.com/Sylwia-99"><i class="bx bxl-github"></i> </a>
    </div>
    <a href="/"><i class="btn-box"> More about me</i> </a>
  </div>
</section>
