<div class="project" id="portfolio">
  <div class="main-text" id="project">
    <h2>Latest <span>Project</span></h2>
    <div class="portfolio-content">
      <div class="row">
        <img src="" />
        <div class="layer">
          <h5 src="">Sports Friends</h5>
          <p>Lorem Ipsum</p>
          <a href=""
            ><i class="bx bx-link-external" b style="color: wheat"></i
          ></a>
        </div>
      </div>
      <div class="row">
        <img src="" />
        <div class="layer">
          <h5 src="">WeatherApp</h5>
          <p>Lorem Ipsum</p>
          <a href=""
            ><i class="bx bx-link-external" b style="color: wheat"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
