.last-text {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: rgb(7, 85, 91);
  margin-top: 70px;
}

.top {
  position: fixed;
  bottom: 1rem;
  right: 2.1rem;
}

.top i {
  color: #000;
  background: #0ef;
  font-size: 20px;
  padding: 10px;
  border-radius: 0.5rem;
}
