@keyframes animate-bar {
  100% {
    stroke-dashoffset: -1;
  }
}

@keyframes animate-path {
  100% {
    stroke-dashoffset: 50;
  }
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-10rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(10rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(10rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-10rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

// ===== Mixins =====
@mixin slide-bottom($duration: 1s, $timing: ease, $fill-mode: forwards) {
  animation: slideBottom $duration $timing $fill-mode;
}

@mixin slide-top($duration: 0.5s, $timing: ease, $fill-mode: forwards) {
  animation: slideTop $duration $timing $fill-mode;
}

@mixin slide-left($duration: 1s, $timing: ease, $fill-mode: forwards) {
  animation: slideLeft $duration $timing $fill-mode;
}

@mixin slide-right($duration: 1s, $timing: ease, $fill-mode: forwards) {
  animation: slideRight $duration $timing $fill-mode;
}

@mixin show-text(
  $duration: 0.5s,
  $delay: 0s,
  $timing: linear,
  $fill-mode: forwards
) {
  animation: showText $duration $delay $timing $fill-mode;
}

@mixin animate-bar($duration: 1s, $timing: linear, $fill-mode: forwards) {
  animation: animate-bar $duration $timing $fill-mode;
}

@mixin animate-scale($duration: 1s) {
  animation: animate $duration forwards;
}

@mixin animate-path(
  $duration: 1s,
  $delay: 0s,
  $timing: linear,
  $fill-mode: forwards
) {
  animation: animate-path $duration $delay $timing $fill-mode;
}

@mixin animate-scale(
  $duration: 1s,
  $delay: 0s,
  $timing: cubic-bezier(1, 0, 0, 1),
  $fill-mode: forwards
) {
  animation: animate $duration $delay $timing $fill-mode;
}

@mixin btn-box($delay: 0s) {
  display: inline-block;
  padding: 1.2rem 2.8rem;
  border-radius: 4rem;
  background: #0ef;
  font-size: 1.6rem;
  color: #081b29;
  letter-spacing: 0.1rem;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  @include slide-top(1s, ease, forwards);
  animation-delay: $delay;
  box-shadow: 0 0 0.5rem #0ef, 0 0 2.5rem #0ef;
}

@mixin glowing-hover($color: cyan) {
  &:hover {
    box-shadow: 0 0 0.5rem $color, 0 0 2.5rem $color, 0 0 5rem $color,
      0 0 10rem $color, 0 0 20rem $color;
  }
}
