<div class="services" id="services">
  <div class="container">
    <h1 class="sub-title">My <span>&nbsp;Services</span></h1>

    <div class="services-list">
      <div>
        <i class="bx bx-code" style="color: #00eeff"></i>
        <h2>UI/UX Design</h2>
        <p>Lorem Ipsum</p>
        <a href="/" class="read">Learn more</a>
      </div>
      <div>
        <i class="bx bx-code" style="color: #00eeff"></i>
        <h2>UI/UX Design</h2>
        <p>Lorem Ipsum</p>
        <a href="/" class="read">Learn more</a>
      </div>
      <div>
        <i class="bx bx-code" style="color: #00eeff"></i>
        <h2>UI/UX Design</h2>
        <p>Lorem Ipsum</p>
        <a href="/" class="read">Learn more</a>
      </div>
    </div>
  </div>
</div>
