@use "../../../styles/animations" as mixin;

.services {
  height: 100vh;

  @media screen and (max-width: 767px) {
    height: 70vh;
  }
}

#services {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
  margin-top: 130px;
}

.container {
  padding: 90px;

  @media screen and (max-width: 767px) {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
  }
}

.sub-title {
  text-align: center;
  font-size: 60px;
  padding-bottom: 70px;

  @media screen and (max-width: 767px) {
    font-size: 40px;
    padding-bottom: 0;
  }

  span {
    color: #0ef;

    @media screen and (max-width: 767px) {
      font-size: 40px;
    }
  }
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.services-list div {
  background-color: transparent;
  padding: 40px;
  font-size: 13px;
  font-weight: 13px;
  border-right: 10px;
  border-radius: 20px;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 1px 1px 20px #012290f2, 1px 1px 40px #012290f2;
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div a {
  text-decoration: none;
  color: #000000;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .services-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    gap: 20px;
    padding: 20px;
    margin: 10px -20px;
  }

  .services-list > div {
    flex: 0 0 92%;
    scroll-snap-align: center;
    margin-right: 10px;
    margin-left: 10px;
  }

  .services-list > div:last-child {
    margin-right: 0;
  }

  .services-list > div:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 40px rgba(0, 238, 255, 0.7);
  }
}

.read {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  @include mixin.slide-top(1s, ease, forwards);
  animation-delay: 2s;
  box-shadow: 0 0 0.5rem #0ef, 0 0 2.5rem #0ef;
}

.read:hover {
  box-shadow: 0 0 0.5rem cyan, 0 0 2.5rem cyan, 0 0 5rem cyan, 0 0 10rem cyan,
    0 0 20rem cyan;
}

.services-list div:hover {
  transform: translateY(-10px);
}
