<div id="skills">
  <h1 class="sub-title">My <span>&nbsp;Skills</span></h1>
  <div class="skills" id="skills">
    <div class="container1">
      <h1 class="heading1">Technical Skills</h1>

      <div class="technical-bars">
        <div class="bar">
          <i style="color: #bc1414" class="bx bxl-angular"></i>
          <div class="info">
            <span>Angular</span>
          </div>
          <div class="progress-line Angular">
            <span></span>
          </div>
        </div>
        <div class="bar">
          <i style="color: #1b56f7" class="bx bxl-typescript"></i>
          <div class="info">
            <span>Typescript</span>
          </div>
          <div class="progress-line Typescript">
            <span></span>
          </div>
        </div>
        <div class="bar">
          <i style="color: #b0bc1e" class="bx bxl-javascript"></i>
          <div class="info">
            <span>Javascript</span>
          </div>
          <div class="progress-line Javascript">
            <span></span>
          </div>
        </div>
        <div class="bar">
          <i style="color: #c95d2e" class="bx bxl-html5"></i>
          <div class="info">
            <span>HTML5</span>
          </div>
          <div class="progress-line html">
            <span></span>
          </div>
        </div>
        <div class="bar">
          <span
            class="iconify"
            data-icon="simple-icons:sass"
            style="color: #cd6799"
          ></span>

          <div class="info">
            <span>SCSS</span>
          </div>
          <div class="progress-line scss">
            <span></span>
          </div>
        </div>
        <div class="bar">
          <i style="color: #147bbc" class="bx bxl-css3"></i>
          <div class="info">
            <span>CSS</span>
          </div>
          <div class="progress-line css">
            <span></span>
          </div>
        </div>
        <div class="bar">
          <i style="color: #62009b" class="bx bxl-redux"></i>
          <div class="info">
            <span>Redux</span>
          </div>
          <div class="progress-line redux">
            <span></span>
          </div>
        </div>
        <div class="bar">
          <img
            src="https://rxjs.dev/assets/images/logos/Rx_Logo_S.png"
            alt="RxJS"
            style="height: 20px"
          />

          <div class="info">
            <span>RxJS</span>
          </div>
          <div class="progress-line rxjs">
            <span></span>
          </div>
        </div>
      </div>
    </div>

    <div class="container1">
      <h1 class="heading1">Professional Skills</h1>
      <div class="radial-bars">
        <div class="radial-bar">
          <svg x="0px" y="0px" viewBox="0 0 200 200">
            <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
            <circle class="path path-1" cx="100" cy="100" r="80"></circle>
          </svg>
          <div class="percentage">90%</div>
          <div class="text">Creativity</div>
        </div>
        <div class="radial-bar">
          <svg x="0px" y="0px" viewBox="0 0 200 200">
            <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
            <circle class="path path-2" cx="100" cy="100" r="80"></circle>
          </svg>
          <div class="percentage">90%</div>
          <div class="text">Communications</div>
        </div>
        <div class="radial-bar">
          <svg x="0px" y="0px" viewBox="0 0 200 200">
            <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
            <circle class="path path-3" cx="100" cy="100" r="80"></circle>
          </svg>
          <div class="percentage">90%</div>
          <div class="text">Problem Solving</div>
        </div>
        <div class="radial-bar">
          <svg x="0px" y="0px" viewBox="0 0 200 200">
            <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
            <circle class="path path-4" cx="100" cy="100" r="80"></circle>
          </svg>
          <div class="percentage">90%</div>
          <div class="text">TeamWork</div>
        </div>
      </div>
    </div>
  </div>
</div>
