<div class="home" id="home">
  <div class="home-content">
    <h3>Hello, It's Me</h3>
    <h1>Sylwia Mosur</h1>
    <h3>
      And I'm a&nbsp;
      <span class="text">
        <ngx-typed-js
          [strings]="['Front-End Developer', 'Web Developer']"
          [typeSpeed]="100"
          [backSpeed]="100"
          [backDelay]="1000"
          [loop]="true"
        >
          <span class="typing"></span> </ngx-typed-js
      ></span>
    </h3>
    <p>
      Front-End Developer with 4 years of experience in building ERP
      applications using Angular.
    </p>
    <!-- <p>
      Proven track record of designing and implementing solutions that improved
      business processes, supported by a strong engineering foundation and a
      Data Science background. I demonstrate strong problem-solving and
      communication skills, and I actively seek challenges in projects that
      combine modern technologies with real business value.
    </p> -->
    <div class="home-sci">
      <a href="https://www.facebook.com/sylwia.rusek.77/" style="--i: 7"
        ><i class="bx bxl-facebook"></i
      ></a>
      <a
        href="https://www.linkedin.com/in/sylwia-mosur-8801b61bb/"
        style="--i: 8"
        ><i class="bx bxl-linkedin"></i
      ></a>
      <a href="https://github.com/Sylwia-99" style="--i: 9"
        ><i class="bx bxl-github"></i
      ></a>
    </div>
    <a href="/"><i class="btn-box"> More about me</i> </a>
  </div>
  <span class="home-imgHover"></span>
</div>
